<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Feed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row  *ngFor="let item of items" align-items-start>
      <ion-col>
          <button ion-button block outline>{{item.image}}<br>{{item.title}}</button>
      </ion-col>
      <ion-col>
          <button ion-button block outline>{{item.image}}<br>{{item.title}}</button>
      </ion-col>
    </ion-row>
    
  </ion-grid>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>

